@media (max-width: 700px){
	.artist{
		margin:12px 6px;
		width :45%;
		height:150px;
		border:1px solid #8F8F8F;
	}
	
	.artist *{
		font-size:12px;
	}
	
	.artist .name{
		width:calc(100% - 24px);
	}
	
	.artist .name *{
		font-size:12px;
	}
	
	.artist .number{
		padding:0px !important;
		padding-top:5px !important;
	}
	
	.artist .num-songs{
		width:24px;
	}
	
	.artist .num-songs *{
		padding:0px;
	}
	
	.button,
	.select-button{
		width:120px;
		padding:8px;
		margin:3px;
		font-size:14px;
		border:2px solid #6E2852;
	}	

	.song{
		width:90%;
		padding:5px 15px;
		margin:10px auto;
		font-size:16px;
	}
	
	.song .stars{
		margin-left:3px;
		font-size:6px;
	}
	
	.song .stars i.fa-star{
		margin-top:-14px;
	}
	
	.year-table table th{
		width:40px;
		font-size:14px;
	}
	
	.year-table table td.rank{
		width:28px;
	}
	
	.year-table table td.score{
		width:30px;
		font-size:12px;
	}
	
	.year-table table td.score i{
		font-size:8px;
	}
}