#music-player{
	position:fixed;
	background:rgba(0,0,0,0.75);
	z-index:999;
	display:none;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	text-align:center;
}

#music-player .info{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	font-size:14px;
	padding:5px;
	background:rgba(0,0,0,0.75);
	color:#fff;
	border-bottom:1px solid rgba(255,255,255,0.5);
	white-space:nowrap;
	overflow:auto;
}

#music-player .info .year{
	color:#aaa;
	margin-left:5px;
}

#music-player .loop-song,
#music-player .next-song,
#music-player .prev-song{
	position:fixed;
	top:28px;
	font-size:16px;
	padding:8px 50px;
	background:rgba(53, 122, 121, 0.75);
	color:#fff;
	border-color:rgba(255,255,255,0.5);
	border-bottom:1px solid rgba(255,255,255,0.5);
	cursor:pointer;
}

#music-player .next-song:hover,
#music-player .prev-song:hover{
	background:rgba(26, 174, 172, 0.75);
}

#music-player .loop-song{
	width:30px;
	background:rgba(0,0,0, 0.75);
	left:0;
	right:0;
	margin:auto;
	border-left :1px solid rgba(255,255,255,0.5);
	border-right:1px solid rgba(255,255,255,0.5);
}

#music-player .loop-song.active{
	background:rgba(192, 73, 254, 0.75);
}

#music-player .prev-song{
	left:0;
	border-right:1px solid rgba(255,255,255,0.5);
}

#music-player .next-song{
	right:0;
	border-left:1px solid rgba(255,255,255,0.5);
}

#music-player .close-music-player{
	position:fixed;
	bottom:0;
	left:0;
	width:100vw;
	font-size:20px;
	padding:15px;
	background:linear-gradient( #700, #400 );
	color:#ddd;
	border-top:1px solid rgba(255,255,255,0.5);
	cursor:pointer;
}

#music-player .close-music-player:hover{
	background:#900;
}

#music-player audio{
	margin-top:100px;
	width: calc( 100vw + 105px );
}